{% include base_path %}

<div class="education-entry">
  <div class="edu-date">
    {% if post.start_date %}
      {{ post.start_date | date: "%Y" }}
    {% endif %}
    –
    {% if post.end_date == "Present" %}
      Present
    {% elsif post.end_date %}
      {{ post.end_date | date: "%Y" }}
    {% endif %}
  </div>

  <div class="edu-details">
    <h3 class="edu-title">{{ post.institution }}</h3>
    <p><strong>{{ post.degree }}</strong></p>
    {% if post.description %}
      <p>{{ post.description }}</p>
    {% endif %}
    {% if post.location %}
      <p><em>{{ post.location }}</em></p>
    {% endif %}
  </div>
</div>
